<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harrymt.productivitymapping">

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!--
            The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
            Google Maps Android API v2, but you must specify either coarse or fine
            location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Interact with the our API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TheTheme">

        <!--
           The API key for Google Maps-based APIs is defined as a string resource.
           Note that the API key is linked to the encryption key used to sign the APK.
           You need a different API key for each encryption key, including the release key that is used to
           sign the APK for publishing.
           You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
            API key for the server side of this project.
        -->
        <meta-data
        android:name="api_key"
        android:value="@string/api_key" />

        <meta-data
            android:name="api_server_url"
            android:value="@string/api_server_url" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.ZoneEditActivity"
            android:label="@string/activity_zone_edit"/>

        <activity android:name=".activities.ZonePreferenceEditActivity"
            android:label="@string/activity_zone_preferences_edit"/>

        <activity android:name=".activities.LastSession"
            android:label="@string/activity_last_session_name"/>

        <!-- Listens for app usage -->
        <service
            android:name=".services.AppUsagePoller"
            android:label="@string/app_label_service_app_usage"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <!-- Listens for notifications -->
        <service
            android:name=".services.NotificationListener"
            android:label="@string/app_label_service_notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
